In [4]:
#Immutable Days of Week
#Store all days of the week in a tuple.

#print the weekend days using slicing.

#Check if "Friday" is in the tuple.

week_days = ("Monday", "Tuesday","Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
print(week_days[5:])

if "Friday" in week_days:
    print("Friday exists")
else:
    print("friday don't exist")

('Saturday', 'Sunday')
Friday exists

In [7]:
#Coordinates Storage
#Store the coordinates of three cities:
#("Lahore", 31.52, 74.35), ("Karachi", 24.86, 67.00), ("Islamabad", 33.68, 73.04).
#Print city names with their coordinates.

storage_coordinates = (
    ("Lahore", 31.52, 74.35),
    ("Karachi", 24.86, 67.00),
    ("Islamabad", 33.68, 73.04)
)

for coordinate in storage_coordinates:
    city = coordinate[0]
    x_cord = coordinate[1]
    y_cord = coordinate[2]
    print(f"{city} coordinates are {x_cord} and {y_cord}")

Lahore coordinates are 31.52 and 74.35
Karachi coordinates are 24.86 and 67.0
Islamabad coordinates are 33.68 and 73.04

In [8]:
#Packing and Unpacking
#Create a tuple ("Python", "JavaScript", "C++") and unpack into 3 variables. Print them.

languages = ("Python", "JavaScript", "C++")
(AI, Web, Old) = languages
print(AI)
print(Web)
print(Old)

Python
JavaScript
C++

In [11]:
#Student Record
#Create a tuple: (name, roll_no, grade). Print each element with a label.

student_record = ("Faiz", 88, "A+")
print(f"Name:  {student_record[0]}")
print(f"roll_no:  {student_record[1]}")
print(f"grade :  {student_record[2]}")

Name:  Faiz
roll_no:  88
grade :  A+

In [16]:
#Return Multiple Values
#Write a function that takes length and width and returns both area and perimeter as a tuple. Print both values.


length = int(input("Enter the length"))
width = int(input("Enter the width"))

area = length * width
perimiter = 2 * (length + width)

area_per = (area , perimiter)
print(area_per)

Enter the length 20
Enter the width 40

(800, 120)

In [18]:
#Immutable Menu
#Sto0re 5 dishes in a tuple for a restaurant menu. Print them in a nice format.

restaurant_menu = ("Biryani", "Chicken", "Mutton", "Korma", "Custered")
print("Here is the menu of restaurant")
print(restaurant_menu[0])
print(restaurant_menu[1])
print(restaurant_menu[2])
print(restaurant_menu[3])
print(restaurant_menu[4])

Here is the menu of restaurant
Biryani
Chicken
Mutton
Korma
Custered

In [20]:
#Find Index of Item
#Tuple: colors = ("red", "blue", "green", "yellow"). Find the index of "green".


colors = ("red", "blue", "green", "yellow")
print(colors.index("green"))
colorss = ["red", "blue", "green", "yellow"]
print(colorss.index("yellow"))

2
3

In [21]:
#Count Occurrences
#Tuple: nums = (10, 20, 30, 20, 40, 20). Count how many times 20 appears.

nums = (10, 20, 30, 20, 40, 20)
print(nums.count(20))

3

In [24]:
#Convert Tuple to List
#Tuple: ("Apple", "Banana", "Orange"). Convert to a list and add "Mango".

fruits = ("Apple", "Banana", "Orange")
fruits_list = list(fruits)
print(fruits_list)
fruits_list.append("Mango")
print(fruits_list)

['Apple', 'Banana', 'Orange']
['Apple', 'Banana', 'Orange', 'Mango']

In [25]:
#Sort Tuple
#Tuple: (45, 67, 89, 23). Convert to list, sort ascending, then convert back to tuple.

numbers = (45, 67, 89, 23)
numbers_list = list(numbers)
numbers_list.sort()
numbers = tuple(numbers_list)
print(numbers)

(23, 45, 67, 89)

In [26]:
#Tuple Concatenation
#Combine two tuples: ("Ali", "Sara") and ("Zain", "Noor"). Print the new tuple.

tuple_one = ("Ali", "Sara")
tuple_two = ("Zain", "Noor")

tuples = tuple_one + tuple_two
print(tuples)

('Ali', 'Sara', 'Zain', 'Noor')

In [29]:
#Nested Tuple (Employees)
#Create a tuple with 3 employees:
#(("Ali", "HR"), ("Sara", "Finance"), ("Zain", "IT")).
#Print each employeeâ€™s name with department.

employees =(
    ("Ali", "HR"),
    ("Sara", "Finance"),
    ("Zain", "IT")
)

for e in employees:
    name = e[0]
    department = e[1]
    print(f"{name} is from {department} department")

Ali is from HR department
Sara is from Finance department
Zain is from IT department

In [30]:
#Slice Practice
#Tuple: (100, 200, 300, 400, 500). Print:

#First 3 elements

#Last 2 elements

numbers = (100, 200, 300, 400, 500)
print(numbers[0:3])
print(numbers[-2:])

(100, 200, 300)
(400, 500)

In [32]:
#Tuple: fruits = ("apple", "banana", "mango", "orange"). Print how many elements it has.

fruits = ("apple", "banana", "mango", "orange")
print(len(fruits))

4

In [35]:
#Reverse Tuple
#Tuple: (10, 20, 30, 40). Print reversed tuple without using reverse().

numbers = (10, 20, 30, 40)
#numbers_list = list(numbers)
#numbers_list.sort(reverse = True)
#numbers = tuple(numbers_list)
#print(numbers)

a

(40, 30, 20, 10)