In [6]:
#1Grocery Budget Tracker
#You start with $100. You buy milk for $5, bread for $2.5, and eggs for $4.

#Store each item price in a variable.

#Update your budget after each purchase and print the remaining amount.

Total_amount = 100
milk = 5
bread = 2.5
eggs = 4

total_amount_spent= milk + bread + eggs
remaining_amount = Total_amount - total_amount_spent
print(f"Your remaining amount is , {remaining_amount}$")

Your remaining amount is , 88.5$

In [9]:
#2Multiple Assignments in One Line
#Assign your name, age, and country to three variables in one line, and print them.

name, age, country = "faiz", 20, "Pakistan"
print(name)
print(age)
print(country)
print(name, age, country)

faiz
20
Pakistan
faiz 20 Pakistan

In [14]:
#3Swapping Variables Without a Temp Variable
#You have two variables:



a = 5
b = 10
a = b
b = a

print(a)
print(b)

10
10

In [4]:
#4Dynamic Welcome Message
#Store a customer’s name and their favorite product. Print:
#"Hi Zara, we hope you enjoy your new headphones!"
#(Hint: Use variables for name and product)

customer_name = input("Enter your name")
favorite_product = input("Enter your name")

print(f"Hi {customer_name},we hope you enjoy your new {favorite_product}")

Enter your name Faiz
Enter your name Laptop

Hi Faiz,we hope you enjoy your new Laptop

In [11]:
#5Monthly Salary Tracker
#A freelancer earns ₹35,000 per project.

#Store number of projects as a variable.

#Calculate the total monthly salary based on projects completed.


Project_completed = int(input("Enter number of projects completed"))
per_project_price = 35000
monthly_salary = Project_completed * per_project_price
print(f"your monthly salary is {monthly_salary}")

Enter number of projects completed 5

your monthly salary is 175000

In [10]:
#6Restaurant Bill Splitter
#You and 3 friends went to a restaurant. The total bill is ₹2,400.

#Use variables to store the total and number of people.

#Print how much each person should pay.

number_of_people = 3
total_bill = 2400
split_bill = total_bill / number_of_people
print(f"Each person should pay {split_bill} Ruppes")

Each person should pay 800.0 Ruppes

In [14]:
#7Reassigning Variables
#You plan a 7-day trip. Each day you spend a different amount.

#Start with a variable total_spent = 0.

#Add daily expenses using += and print the final amount.

total_spent = 0 
total_spent += 10
total_spent += 20
total_spent += 30
total_spent += 40
total_spent += 40
total_spent += 60
total_spent += 70

print(total_spent)

270

In [16]:
#8Variable Naming Cleanup
#Look at this messy code and improve variable names for clarity:

#x = "Ali"
#y = 23
#z = "Pakistan"
#Change them to meaningful names and reprint the same sentence:
#"Ali is 23 years old and lives in Pakistan."

person_name = "Ali"
person_age = 23
person_country = "Pakistan"

print(f"{person_name} is {person_age} years old and lives in {person_country}")

Ali is 23 years old and lives in Pakistan

In [22]:
#9Temperature Logger
#Record temperatures in Celsius for Morning, Afternoon, and Evening using three variables.
#Print the average temperature.

morning_temp = int(input("Enter morning temperature"))
afternoon_temp = int(input("Enter afternoon temperature"))
evening_temp = int(input("Enter evening temperature"))

temp_readings = 3
sum_temp = morning_temp + afternoon_temp + evening_temp
average_temp =  sum_temp /temp_readings
print(f" Todays average temperature is {average_temp} cesius")

Enter morning temperature 20
Enter afternoon temperature 30
Enter evening temperature 40

 Todays average temperature is 30.0 cesius

In [23]:
#10Electricity Cost Calculator
#Store units_used = 350 and rate_per_unit = 9.5.
#Calculate total bill. If units used are more than 300, add a surcharge of ₹100.

units_used = 350
rate_per_unit = 9.5
surcharge_amount = 100
total_bill = units_used * rate_per_unit + surcharge_amount
print(f"your total bill is {total_bill} with surcharge amount of 100")

your total bill is 3425.0 with surcharge amount of 100

In [24]:
#11Tax Estimator
#A person earns ₹75,000 per month.

#Store income and tax_rate = 12%.

#Calculate monthly tax and income after tax.

person_earning = 75000
tax_rate = 12

monthly_tax = person_earning * (tax_rate/100)
income_after_tax = person_earning - monthly_tax
print(monthly_tax)
print(income_after_tax)

9000.0
66000.0

In [28]:
#12Combine Two Variables into One String
#Store a first_name and last_name and combine them into a full name with proper spacing.

first_name = "Faiz"
last_name = "Rasool"
full_name = first_name +" " + last_name 
print(full_name)

Faiz Rasool

In [29]:
#13Overwriting Variables (and Why to Avoid It)
#Create a variable original_price = 1000. Then by mistake, reassign it as:

#original_price = original_price - 100
#original_price = 50
#Print the result. Then explain why overwriting meaningful values is risky in real code.

original_price = 1000
original_price = original_price - 100
original_price = 50
print(original_price)

50

In [31]:
#14Chained Assignment Practice
#Set the same value of 0 to three variables: a, b, and c in one line.

a,b,c = 0, 0 , 0
print(a)
print(b)
print(c)

0
0
0

In [32]:
#15Create a variable x = 10 outside a function.
#Inside a function, create a variable with the same name x = 20.
#Print both and explain the output.

x = 10
def myfunction():
    x = 20
    print(x)

print(x)
myfunction()

10
20